<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/internal-nlog.txt"> <!--${logDirectory} не подошёл (:-->
  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <variable name="logDirectory" value="logs/${shortdate}" />
  <variable name="logRootDirectory" value="logs" />

  <targets>
    <target name="console" 
            type="ColoredConsole"
            detectConsoleAvailable="False"/>  

    <target name="fileAll" 
            xsi:type="File" 
            fileName="${logDirectory}/log.txt" />
   </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,fileAll" />
    
    <!--[for asp.netcore] Skip Microsoft logs and so log only own logs
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />-->
  </rules>

</nlog>